body{
	margin: 0;
	padding: 0;
	background-color: #f4f5f6;

}

.header{
	background-color: #f72210;
	color: white;
	max-width: 97%;
}
.news-section{
	width: 92%;
}


.weather-icon{
	width: 24px;
	height: 24px;
}

.weather-icon img{
	width: 100%;
}
.center{
	width:396px;
}

.image{
	width:20px;
	height: 20px;
}
.center img{
	width: 100%;
}
.login-btn{
	background-color: #f72310;
	border: none;
	outline: none;
    color: white;
    font-size: 18px;
    line-height: 27px;
}


.add-btn{
	font-size: 18px;
    line-height: 27px;
    padding-left: 9px;
    border: none;
    border-radius: 3px;
    padding-right: 9px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #ffe400;
    color: black;
}

.add-btn::after{
	content: url('../resources/white.png');
    display: inline-block;
    width: 6px;
    height: 11px;
    
    /*-webkit-mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center / contain no-repeat;*/
    margin-left: 9px
}
.page-nav{
	width: 96%;
}

.page-nav div a{
	font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    text-decoration: none;
    color: black;
    
}

.nav-page {
	position: relative;
	background: white;
	width: 97%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    z-index: 1;
    border-bottom-color: #f4f5f6;

}

.nav-page::before{
	position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 80px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}

input{
	border: none;
	width: 60px;
}


