body{
	margin: 0;
	padding: 0;
	background-color: #f4f5f6;

}

    .header{
       background-color: #f72210;
       color: red 
    }
    
    .user, .list{
        width: 30px;
        height: 30px;
    }
    .right{
        width: 100%;
    }
   .image{
    width: 132px;

   }
    .photo{
        width: 100%;
    }
    .card-class{
        position: relative;
    }

    .usa{
        width: 58px;
        height: 33px;
        background: #ccc;
        border: 1px #ccc solid;
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    .usa a{
        text-transform: uppercase;
        text-decoration:none;
        color: #f72210;
        font-weight: bold;
    }

    .block-title {
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
    color: rgba(3,3,3,.4)
}
    .trial-btn {
    font: bold 13px/20px "Roboto Condensed",sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    border: none;
    background: #ffe400;
    height: 20px;
    width: 91.15px;
}